[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Numix Folders
Exec=numix-folders
StartupWMClass=numix-folders
Comment=Alternate folders for use with our base icon theme.
Icon=/opt/numix-folders/gui/numix-folders.svg
Categories=GNOME;GTK;Settings
